In [28]:
import pandas as pd
from pandas import json_normalize
import requests
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt
import  warnings
warnings.simplefilter("ignore")
import os
import json
from dotenv import load_dotenv

# Cleaning

In [29]:
# Read and see the dataset 
df = pd.read_csv ('../dataset/nft_sales.csv', encoding='unicode_escape')
df

,Rank,Collections,Sales,Buyers,Txns,Owners
0,1,Axie Infinity,"$3,328,148,500","1,079,811","9,755,511","2,656,431"
1,2,CryptoPunks,"$1,664,246,968","4,723","18,961","3,289"
2,3,Art Blocks,"$1,075,223,906","20,934","117,602","25,094"
3,4,Bored Ape Yacht Club,"$783,882,186","8,284","22,584","5,862"
4,5,NBA Top Shot,"$781,965,423","374,818","11,790,699","603,928"
...,...,...,...,...,...,...
245,246,Evolution,"$2,536,468",746,"4,961","2,061"
246,247,LegionPunks,"$2,535,490","1,702","3,794","2,410"
247,248,BabyApes,"$2,521,714","1,671","3,405","2,785"
248,249,Train of the Century,"$2,504,080","3,139","39,460","3,160"
249,250,Cyber Pharmacist,"$2,498,805","3,206","8,452","3,689"

In [30]:
# This dataset is from the 25th Nov 2021, we are going to clean, rename, drop and stay with the top 100 sorted by sales.
df['Buyers'] = df['Buyers'].str.replace(',', '')
df['Sales'] = df['Sales'].str.replace(',', '')
df['Sales'] = df['Sales'].str.replace('$', '')
df['Txns'] = df['Txns'].str.replace(',', '')
df = df.rename(columns = {'Sales': 'USD_Sales_not_updated', 'Buyers' : 'Buyers_not_updated', 'Txns' : 'Txns_not_updated'})
df['Collections'] = df['Collections'].astype('string')
df['USD_Sales_not_updated'] = pd.to_numeric(df['USD_Sales_not_updated'])
df['Buyers_not_updated'] = pd.to_numeric(df['Buyers_not_updated'])
df['Txns_not_updated'] = pd.to_numeric(df['Txns_not_updated'])
df = df.drop(columns=['Owners'])
df = df[:100]
df.head()

,Rank,Collections,USD_Sales_not_updated,Buyers_not_updated,Txns_not_updated
0,1,Axie Infinity,3328148500,1079811,9755511
1,2,CryptoPunks,1664246968,4723,18961
2,3,Art Blocks,1075223906,20934,117602
3,4,Bored Ape Yacht Club,783882186,8284,22584
4,5,NBA Top Shot,781965423,374818,11790699

In [31]:
# Add a usd per transaction column, add a usd per buyer, add transaction per buyers and convert sales to usd million.
df['$/Txn_not_updated'] = df['USD_Sales_not_updated'] // df['Txns_not_updated']
df['$/Buyer_not_updated'] = df['USD_Sales_not_updated'] // df['Buyers_not_updated']
df['Txn/Buyer_not_updated'] = df['Txns_not_updated'] / df['Buyers_not_updated']
df['USD_Sales_not_updated'] = df['USD_Sales_not_updated'] / 1e6
df = df.rename(columns = {'USD_Sales_not_updated': 'USD_Sales_in_millions_not_updated'})
df

,Rank,Collections,USD_Sales_in_millions_not_updated,Buyers_not_updated,Txns_not_updated,$/Txn_not_updated,$/Buyer_not_updated,Txn/Buyer_not_updated
0,1,Axie Infinity,3328.148500,1079811,9755511,341,3082,9.034462
1,2,CryptoPunks,1664.246968,4723,18961,87772,352370,4.014609
2,3,Art Blocks,1075.223906,20934,117602,9142,51362,5.617751
3,4,Bored Ape Yacht Club,783.882186,8284,22584,34709,94626,2.726219
4,5,NBA Top Shot,781.965423,374818,11790699,66,2086,31.457131
...,...,...,...,...,...,...,...,...
95,96,Solsteads,17.915196,1621,3120,5742,11051,1.924738
96,97,Galaxy Fight Club,17.903757,4232,13866,1291,4230,3.276465
97,98,CryptoArte,17.817569,4121,9709,1835,4323,2.355982
98,99,Forgotten Runes,17.729910,3620,11562,1533,4897,3.193923
99,100,Mike Tyson NFT,17.537597,756,1413,12411,23197,1.869048

In [32]:
# Load token to access API
load_dotenv()
token = os.getenv('token')

In [33]:
import requests

url = "https://api.cryptoslam.io/im6pi8nxcs120nhb/v1/collections/top-100?timeRange=all"
headers = {
  "X-BLOBR-KEY": token
}
response = requests.get(url, headers=headers)

print(response.text)

{"data":[{"rank":1,"collectionImageURL":"https://d1nht67oz99wd1.cloudfront.net/resized/axie-infinity-logo_resized.png","collectionName":"Axie Infinity","collectionId":"axie-infinity","paymentToken":"ETH","buyerCount":1791631,"sellerCount":1337430,"transactionCount":17718939,"salesVolumeChangePercentage":0,"blockchainId":"ronin","quote":{"USD":{"salesVolume":4090984208.7145714389549359162,"previousSalesVolume":0.0},"ETH":{"salesVolume":1328209.4404534904931958260020,"previousSalesVolume":0.0}}},{"rank":2,"collectionImageURL":"https://cryptoslam-token-images.s3.amazonaws.com/icons/bored ape yatch club.png","collectionName":"Bored Ape Yacht Club","collectionId":"bored-ape-yacht-club","paymentToken":"ETH","buyerCount":12071,"sellerCount":9521,"transactionCount":32743,"salesVolumeChangePercentage":0.0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":2446885967.71,"previousSalesVolume":2446885967.71},"ETH":{"salesVolume":18665748.1030449,"previousSalesVolume":18665748.1030449}}},{"rank":3,"collectionImageURL":"https://d1nht67oz99wd1.cloudfront.net/resized/cryptopunks-logo_resized.png","collectionName":"CryptoPunks","collectionId":"cryptopunks","paymentToken":"ETH","buyerCount":6088,"sellerCount":4083,"transactionCount":22292,"salesVolumeChangePercentage":0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":2392128016.9632950262655803071,"previousSalesVolume":0.0},"ETH":{"salesVolume":895410.8223494985087385115078,"previousSalesVolume":0.0}}},{"rank":4,"collectionImageURL":"https://d1nht67oz99wd1.cloudfront.net/resized/mutant-ape-yacht-club_resized.png","collectionName":"Mutant Ape Yacht Club","collectionId":"mutant-ape-yacht-club","paymentToken":"ETH","buyerCount":23847,"sellerCount":18747,"transactionCount":51995,"salesVolumeChangePercentage":0.0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":1749301673.63,"previousSalesVolume":1749301673.63},"ETH":{"salesVolume":102520512.485297,"previousSalesVolume":102520512.485298}}},{"rank":5,"collectionImageURL":"https://d1nht67oz99wd1.cloudfront.net/resized/art-blocks-logo2_resized.png","collectionName":"Art Blocks","collectionId":"art-blocks","paymentToken":"ETH","buyerCount":33648,"sellerCount":33375,"transactionCount":185253,"salesVolumeChangePercentage":0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":1311728715.0636414009743931200,"previousSalesVolume":0.0},"ETH":{"salesVolume":436985.75483143182322728427556,"previousSalesVolume":0.0}}},{"rank":6,"collectionImageURL":"https://cryptoslam-token-images.s3.amazonaws.com/icons/otherdeed.png","collectionName":"Otherdeed","collectionId":"otherdeed","paymentToken":"ETH","buyerCount":26641,"sellerCount":23118,"transactionCount":59966,"salesVolumeChangePercentage":0.0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":1055428408.14,"previousSalesVolume":1055428408.14},"ETH":{"salesVolume":417909.293370506,"previousSalesVolume":417909.293370506}}},{"rank":7,"collectionImageURL":"https://d1nht67oz99wd1.cloudfront.net/nba-top-shot-v2-logo.png","collectionName":"NBA Top Shot","collectionId":"nba-top-shot","paymentToken":"Flow","buyerCount":446665,"sellerCount":436159,"transactionCount":21862169,"salesVolumeChangePercentage":0,"blockchainId":"flow","quote":{"USD":{"salesVolume":1033386630.38000000,"previousSalesVolume":0.0},"Flow":{"salesVolume":1033386630.38000000,"previousSalesVolume":0.0}}},{"rank":8,"collectionImageURL":"https://cryptoslam-token-images.s3.amazonaws.com/icons/azuki.png","collectionName":"Azuki","collectionId":"azuki","paymentToken":"ETH","buyerCount":14837,"sellerCount":13089,"transactionCount":33024,"salesVolumeChangePercentage":0.0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":803836783.18,"previousSalesVolume":803836783.18},"ETH":{"salesVolume":434547.04200082,"previousSalesVolume":434547.04200082}}},{"rank":9,"collectionImageURL":"https://d1nht67oz99wd1.cloudfront.net/clonex.jpeg","collectionName":"CloneX","collectionId":"clonex","paymentToken":"ETH","buyerCount":11602,"sellerCount":9777,"transactionCount":22791,"salesVolumeChangePercentage":0.0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":752838132.72,"previousSalesVolume":752838132.72},"ETH":{"salesVolume":105491101.305795,"previousSalesVolume":105491101.305795}}},{"rank":10,"collectionImageURL":"https://cryptoslam-token-images.s3.amazonaws.com/icons/moonbirds.png","collectionName":"Moonbirds","collectionId":"moonbirds","paymentToken":"ETH","buyerCount":13394,"sellerCount":7856,"transactionCount":19075,"salesVolumeChangePercentage":0.0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":595354333.23,"previousSalesVolume":595354333.23},"ETH":{"salesVolume":221405.970500247,"previousSalesVolume":221405.970500247}}},{"rank":11,"collectionImageURL":"https://cryptoslam-token-images.s3.amazonaws.com/icons/doodles.jpg","collectionName":"Doodles","collectionId":"doodles","paymentToken":"ETH","buyerCount":13696,"sellerCount":11670,"transactionCount":27564,"salesVolumeChangePercentage":0.0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":530166500.62,"previousSalesVolume":530166500.62},"ETH":{"salesVolume":181269.207867622,"previousSalesVolume":181269.207867622}}},{"rank":12,"collectionImageURL":"https://d1nht67oz99wd1.cloudfront.net/resized/meebits_resized.png","collectionName":"Meebits","collectionId":"meebits","paymentToken":"ETH","buyerCount":12601,"sellerCount":9194,"transactionCount":34921,"salesVolumeChangePercentage":0.0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":525219204.91,"previousSalesVolume":525219204.91},"ETH":{"salesVolume":102015791.759834,"previousSalesVolume":102015791.759834}}},{"rank":13,"collectionImageURL":"https://d1nht67oz99wd1.cloudfront.net/resized/sorare-logo-v2_resized.png","collectionName":"Sorare","collectionId":"sorare","paymentToken":"ETH","buyerCount":119009,"sellerCount":130408,"transactionCount":3881167,"salesVolumeChangePercentage":0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":443090207.69001266172336382313,"previousSalesVolume":0.0},"ETH":{"salesVolume":203366.31599637411147380179962,"previousSalesVolume":0.0}}},{"rank":14,"collectionImageURL":"https://cryptoslam-token-images.s3.amazonaws.com/icons/Sandbox.jpeg","collectionName":"The Sandbox","collectionId":"the-sandbox","paymentToken":"ETH","buyerCount":27968,"sellerCount":16142,"transactionCount":62779,"salesVolumeChangePercentage":0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":371562518.29930820427761700877,"previousSalesVolume":0.0},"ETH":{"salesVolume":97524.30852961820375046178225,"previousSalesVolume":0.0}}},{"rank":15,"collectionImageURL":"https://d1nht67oz99wd1.cloudfront.net/resized/cool-cats_resized.ico","collectionName":"Cool Cats","collectionId":"cool-cats","paymentToken":"ETH","buyerCount":12894,"sellerCount":10136,"transactionCount":32355,"salesVolumeChangePercentage":0.0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":369987738.07,"previousSalesVolume":369987738.07},"ETH":{"salesVolume":20354483.7929245,"previousSalesVolume":20354483.7929245}}},{"rank":16,"collectionImageURL":"https://d1nht67oz99wd1.cloudfront.net/resized/bored-ape-kennel-club_resized.png","collectionName":"Bored Ape Kennel Club","collectionId":"bored-ape-kennel-club","paymentToken":"ETH","buyerCount":10599,"sellerCount":10096,"transactionCount":24593,"salesVolumeChangePercentage":0.0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":351037144.94,"previousSalesVolume":351037144.94},"ETH":{"salesVolume":236833.050617656,"previousSalesVolume":236833.050617656}}},{"rank":17,"collectionImageURL":"https://cryptoslam-token-images.s3.amazonaws.com/icons/loot.png","collectionName":"Loot","collectionId":"loot","paymentToken":"ETH","buyerCount":4315,"sellerCount":3427,"transactionCount":12137,"salesVolumeChangePercentage":0.0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":280410633.71,"previousSalesVolume":280410633.71},"ETH":{"salesVolume":243201681.206328,"previousSalesVolume":243201681.206328}}},{"rank":18,"collectionImageURL":"https://d1nht67oz99wd1.cloudfront.net/resized/world-of-women_resized.png","collectionName":"World Of Women","collectionId":"world-of-women","paymentToken":"ETH","buyerCount":10987,"sellerCount":8346,"transactionCount":27466,"salesVolumeChangePercentage":0.0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":248979615.41,"previousSalesVolume":248979615.41},"ETH":{"salesVolume":158949.31554678,"previousSalesVolume":158949.31554678}}},{"rank":19,"collectionImageURL":"https://cryptoslam-token-images.s3.amazonaws.com/icons/cryptoadz.png","collectionName":"Cryptoadz","collectionId":"cryptoadz","paymentToken":"ETH","buyerCount":10140,"sellerCount":7910,"transactionCount":22763,"salesVolumeChangePercentage":0.0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":246164611.45,"previousSalesVolume":246164611.45},"ETH":{"salesVolume":102884.492002428,"previousSalesVolume":102884.492002428}}},{"rank":20,"collectionImageURL":"https://d1nht67oz99wd1.cloudfront.net/resized/veefriends_resized.png","collectionName":"VeeFriends","collectionId":"veefriends","paymentToken":"ETH","buyerCount":6561,"sellerCount":2863,"transactionCount":14872,"salesVolumeChangePercentage":0.0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":240446944.53,"previousSalesVolume":240446944.53},"ETH":{"salesVolume":1189874.19650174,"previousSalesVolume":1189874.19650174}}},{"rank":21,"collectionImageURL":"https://cryptoslam-token-images.s3.us-east-1.amazonaws.com/icons/crabada2.png","collectionName":"Crabada","collectionId":"crabada","paymentToken":"ETH","buyerCount":10179,"sellerCount":5578,"transactionCount":203615,"salesVolumeChangePercentage":0.0,"blockchainId":"avalanche","quote":{"USD":{"salesVolume":226918587.68,"previousSalesVolume":226918587.68},"ETH":{"salesVolume":2237185949.83258,"previousSalesVolume":2237185949.83258}}},{"rank":22,"collectionImageURL":"https://d1nht67oz99wd1.cloudfront.net/parallel-alpha.ico","collectionName":"Parallel Alpha","collectionId":"parallel-alpha","paymentToken":"ETH","buyerCount":26382,"sellerCount":19094,"transactionCount":144246,"salesVolumeChangePercentage":0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":226017944.28538369850049297138,"previousSalesVolume":0.0},"ETH":{"salesVolume":70830.181661918701619785414998,"previousSalesVolume":0.0}}},{"rank":23,"collectionImageURL":"https://cryptoslam-token-images.s3.amazonaws.com/beanz.jpg","collectionName":"Beanz","collectionId":"beanz","paymentToken":"ETH","buyerCount":10999,"sellerCount":10390,"transactionCount":23704,"salesVolumeChangePercentage":0.0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":225788580.28,"previousSalesVolume":225788580.28},"ETH":{"salesVolume":81569.853698262,"previousSalesVolume":81569.853698262}}},{"rank":24,"collectionImageURL":"https://d1nht67oz99wd1.cloudfront.net/CyberKongz.png","collectionName":"CyberKongz","collectionId":"cyberkongz","paymentToken":"ETH","buyerCount":4245,"sellerCount":3105,"transactionCount":7359,"salesVolumeChangePercentage":0.0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":204251443.65,"previousSalesVolume":204251443.65},"ETH":{"salesVolume":2643122.91585006,"previousSalesVolume":2643122.91585006}}},{"rank":25,"collectionImageURL":"https://cryptoslam-token-images.s3.amazonaws.com/icons/boredapecc.jpeg","collectionName":"Bored Ape Chemistry Club","collectionId":"bored-ape-chemistry-club","paymentToken":"ETH","buyerCount":2221,"sellerCount":2314,"transactionCount":3884,"salesVolumeChangePercentage":0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":200616590.27050290661527186,"previousSalesVolume":0.0},"ETH":{"salesVolume":63184.461269138540160972146319,"previousSalesVolume":0.0}}},{"rank":26,"collectionImageURL":"https://d1nht67oz99wd1.cloudfront.net/resized/farmers-world_resized.png","collectionName":"Farmers World","collectionId":"farmers-world","paymentToken":"WAX","buyerCount":78442,"sellerCount":57685,"transactionCount":5414003,"salesVolumeChangePercentage":0,"blockchainId":"wax","quote":{"USD":{"salesVolume":196437432.20808491603986783651,"previousSalesVolume":0.0},"WAX":{"salesVolume":442764085.75377056,"previousSalesVolume":0.0}}},{"rank":27,"collectionImageURL":"https://cryptoslam-token-images.s3.amazonaws.com/icons/zed.png","collectionName":"ZED RUN","collectionId":"zed-run","paymentToken":"ETH","buyerCount":79846,"sellerCount":42916,"transactionCount":683868,"salesVolumeChangePercentage":0.0,"blockchainId":"polygon","quote":{"USD":{"salesVolume":192400970.25,"previousSalesVolume":192400970.25},"ETH":{"salesVolume":2074614.56556666,"previousSalesVolume":2074614.56556666}}},{"rank":28,"collectionImageURL":"https://d1nht67oz99wd1.cloudfront.net/smb-logo.png","collectionName":"Solana Monkey Business","collectionId":"solana-monkey-business","paymentToken":"SOL","buyerCount":4552,"sellerCount":3398,"transactionCount":10661,"salesVolumeChangePercentage":0,"blockchainId":"solana","quote":{"USD":{"salesVolume":189102939.71189547721193034573,"previousSalesVolume":0.0},"SOL":{"salesVolume":1513167.170604623,"previousSalesVolume":0.0}}},{"rank":29,"collectionImageURL":"https://d1nht67oz99wd1.cloudfront.net/resized/pudgy-penguins_resized.jpg","collectionName":"Pudgy Penguins","collectionId":"pudgy-penguins","paymentToken":"ETH","buyerCount":13764,"sellerCount":11430,"transactionCount":35760,"salesVolumeChangePercentage":0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":186401451.8408130620878693101,"previousSalesVolume":0.0},"ETH":{"salesVolume":61132.550433416811117961545269,"previousSalesVolume":0.0}}},{"rank":30,"collectionImageURL":"https://d1nht67oz99wd1.cloudfront.net/resizedmekaverse.jpeg","collectionName":"MekaVerse","collectionId":"mekaverse","paymentToken":"ETH","buyerCount":7081,"sellerCount":7952,"transactionCount":14623,"salesVolumeChangePercentage":0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":175696918.50929686418732051308,"previousSalesVolume":0.0},"ETH":{"salesVolume":48523.549510374596288561335427,"previousSalesVolume":0.0}}},{"rank":31,"collectionImageURL":"https://d1nht67oz99wd1.cloudfront.net/nftworlds.png","collectionName":"NFT Worlds","collectionId":"nft-worlds","paymentToken":"ETH","buyerCount":11948,"sellerCount":11795,"transactionCount":28787,"salesVolumeChangePercentage":0.0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":165817297.25,"previousSalesVolume":165817297.25},"ETH":{"salesVolume":1109699.83319724,"previousSalesVolume":1109699.83319724}}},{"rank":32,"collectionImageURL":"https://d1nht67oz99wd1.cloudfront.net/0N1-force.png","collectionName":"0N1 Force","collectionId":"0n1-force","paymentToken":"ETH","buyerCount":9983,"sellerCount":8265,"transactionCount":21657,"salesVolumeChangePercentage":0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":160546799.08838063969192200229,"previousSalesVolume":0.0},"ETH":{"salesVolume":48778.299676069570079108081287,"previousSalesVolume":0.0}}},{"rank":33,"collectionImageURL":"https://cryptoslam-token-images.s3.amazonaws.com/icons/hape.png","collectionName":"HAPE PRIME","collectionId":"hape-prime","paymentToken":"ETH","buyerCount":6918,"sellerCount":8070,"transactionCount":13100,"salesVolumeChangePercentage":0.0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":160238851.56,"previousSalesVolume":160238851.56},"ETH":{"salesVolume":56855.0285887976,"previousSalesVolume":56855.0285887976}}},{"rank":34,"collectionImageURL":"https://d1nht67oz99wd1.cloudfront.net/rtfktmnlth.jpeg","collectionName":"RTFKT MNLTH","collectionId":"rtfkt-mnlth","paymentToken":"ETH","buyerCount":5336,"sellerCount":5088,"transactionCount":8745,"salesVolumeChangePercentage":0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":153069207.4999031058560341524,"previousSalesVolume":0.0},"ETH":{"salesVolume":53567.86502959,"previousSalesVolume":0.0}}},{"rank":35,"collectionImageURL":"https://d1nht67oz99wd1.cloudfront.net/adidas.png","collectionName":"adidas Originals","collectionId":"adidas-originals","paymentToken":"ETH","buyerCount":26837,"sellerCount":24410,"transactionCount":41818,"salesVolumeChangePercentage":0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":144413060.71429536867256375696,"previousSalesVolume":0.0},"ETH":{"salesVolume":45944.900735409,"previousSalesVolume":0.0}}},{"rank":36,"collectionImageURL":"https://d1nht67oz99wd1.cloudfront.net/resized/degenerate-ape-academy-logo.png","collectionName":"Degenerate Ape Academy","collectionId":"degenerate-ape-academy","paymentToken":"SOL","buyerCount":8128,"sellerCount":7499,"transactionCount":21511,"salesVolumeChangePercentage":0,"blockchainId":"solana","quote":{"USD":{"salesVolume":140357632.76969460229225815450,"previousSalesVolume":0.0},"SOL":{"salesVolume":1288081.989176926,"previousSalesVolume":0.0}}},{"rank":37,"collectionImageURL":"https://cryptoslam-token-images.s3.amazonaws.com/murakami.png","collectionName":"MurakamiFlowers Seed","collectionId":"murakamiflowers-seed","paymentToken":"ETH","buyerCount":4620,"sellerCount":4136,"transactionCount":7407,"salesVolumeChangePercentage":0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":136422606.0232023153599881245,"previousSalesVolume":0.0},"ETH":{"salesVolume":46763.70459093,"previousSalesVolume":0.0}}},{"rank":38,"collectionImageURL":"https://cryptoslam-token-images.s3.amazonaws.com/icons/rtfkt-clonex-mintvial.png","collectionName":"RTFKT CloneX Mintvial","collectionId":"rtfkt-clonex-mintvial","paymentToken":"ETH","buyerCount":2775,"sellerCount":2771,"transactionCount":5939,"salesVolumeChangePercentage":0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":134614745.049602308455316256,"previousSalesVolume":0.0},"ETH":{"salesVolume":36875.9951331,"previousSalesVolume":0.0}}},{"rank":39,"collectionImageURL":"https://d1nht67oz99wd1.cloudfront.net/karfaru.jpeg","collectionName":"Karafuru","collectionId":"karafuru","paymentToken":"ETH","buyerCount":10910,"sellerCount":8129,"transactionCount":17180,"salesVolumeChangePercentage":0.0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":133350319.74,"previousSalesVolume":133350319.74},"ETH":{"salesVolume":45433.6896266263,"previousSalesVolume":45433.6896266263}}},{"rank":40,"collectionImageURL":"https://cryptoslam-token-images.s3.amazonaws.com/icons/okay-bear.jpeg","collectionName":"Okay Bears","collectionId":"okay-bears","paymentToken":"SOL","buyerCount":9321,"sellerCount":18010,"transactionCount":25865,"salesVolumeChangePercentage":0,"blockchainId":"solana","quote":{"USD":{"salesVolume":131418959.10465460986681978984,"previousSalesVolume":0.0},"SOL":{"salesVolume":1872202.123404934,"previousSalesVolume":0.0}}},{"rank":41,"collectionImageURL":"https://cryptoslam-token-images.s3.amazonaws.com/icons/mfers.jpeg","collectionName":"MFER","collectionId":"mfer","paymentToken":"ETH","buyerCount":13999,"sellerCount":11156,"transactionCount":30242,"salesVolumeChangePercentage":0.0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":126074581.58,"previousSalesVolume":126074581.58},"ETH":{"salesVolume":2094754.03295167,"previousSalesVolume":2094754.03295167}}},{"rank":42,"collectionImageURL":"https://cryptoslam-token-images.s3.amazonaws.com/icons/pxn.png","collectionName":"projectPXN","collectionId":"projectpxn","paymentToken":"ETH","buyerCount":13734,"sellerCount":9552,"transactionCount":23328,"salesVolumeChangePercentage":0.0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":125408947.74,"previousSalesVolume":125408947.74},"ETH":{"salesVolume":50160.4281211951,"previousSalesVolume":50160.4281211951}}},{"rank":43,"collectionImageURL":"https://cryptoslam-token-images.s3.amazonaws.com/icons/invisiblefriends.png","collectionName":"Invisible Friends","collectionId":"invisible-friends","paymentToken":"ETH","buyerCount":8572,"sellerCount":5046,"transactionCount":11399,"salesVolumeChangePercentage":0.0,"blockchainId":"ethereum","quote":{"USD":{"salesVolume":123877442.95,"previousSalesVolume":123877442.95},"ETH":{"salesVolume":99282.9220254007,"previousSalesVolume":99282.922025400

In [34]:
# Normalize data from API
df_api = json_normalize(response.json()['data'])
df_api.head()

,rank,collectionImageURL,collectionName,collectionId,paymentToken,buyerCount,sellerCount,transactionCount,salesVolumeChangePercentage,blockchainId,quote.USD.salesVolume,quote.USD.previousSalesVolume,quote.ETH.salesVolume,quote.ETH.previousSalesVolume,quote.Flow.salesVolume,quote.Flow.previousSalesVolume,quote.WAX.salesVolume,quote.WAX.previousSalesVolume,quote.SOL.salesVolume,quote.SOL.previousSalesVolume
0,1,https://d1nht67oz99wd1.cloudfront.net/resized/...,Axie Infinity,axie-infinity,ETH,1791631,1337430,17718939,0.0,ronin,4.090984e+09,0.000000e+00,1.328209e+06,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN
1,2,https://cryptoslam-token-images.s3.amazonaws.c...,Bored Ape Yacht Club,bored-ape-yacht-club,ETH,12071,9521,32743,0.0,ethereum,2.446886e+09,2.446886e+09,1.866575e+07,1.866575e+07,NaN,NaN,NaN,NaN,NaN,NaN
2,3,https://d1nht67oz99wd1.cloudfront.net/resized/...,CryptoPunks,cryptopunks,ETH,6088,4083,22292,0.0,ethereum,2.392128e+09,0.000000e+00,8.954108e+05,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN
3,4,https://d1nht67oz99wd1.cloudfront.net/resized/...,Mutant Ape Yacht Club,mutant-ape-yacht-club,ETH,23847,18747,51995,0.0,ethereum,1.749302e+09,1.749302e+09,1.025205e+08,1.025205e+08,NaN,NaN,NaN,NaN,NaN,NaN
4,5,https://d1nht67oz99wd1.cloudfront.net/resized/...,Art Blocks,art-blocks,ETH,33648,33375,185253,0.0,ethereum,1.311729e+09,0.000000e+00,4.369858e+05,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
#Clean API dataframe to get the data needed for investigation
df_api = df_api[['rank', 'blockchainId', 'collectionName','quote.USD.salesVolume', 'buyerCount', 'transactionCount']]
df_api = df_api.rename(columns = {'rank' : 'Rank_Updated', 'collectionName' : 'Collections', 'buyerCount' : 'Buyers_Updated', 'transactionCount' : 'Txns_Updated', 'quote.USD.salesVolume': 'USD_Sales_Updated'})
df_api['Collections'] = df_api['Collections'].astype('string')
df_api['blockchainId']= df_api['blockchainId'].astype('string')
df_api.head()

,Rank_Updated,blockchainId,Collections,USD_Sales_Updated,Buyers_Updated,Txns_Updated
0,1,ronin,Axie Infinity,4.090984e+09,1791631,17718939
1,2,ethereum,Bored Ape Yacht Club,2.446886e+09,12071,32743
2,3,ethereum,CryptoPunks,2.392128e+09,6088,22292
3,4,ethereum,Mutant Ape Yacht Club,1.749302e+09,23847,51995
4,5,ethereum,Art Blocks,1.311729e+09,33648,185253

In [36]:
#Create new columns, showing the kpis to be able to compare.
df_api['$/Txn_Updated'] = df_api['USD_Sales_Updated'] // df_api['Txns_Updated']
df_api['$/Txn_Updated'] = df_api['$/Txn_Updated'].astype('int64')
df_api['$/Buyer_Updated'] = df_api['USD_Sales_Updated'] // df_api['Buyers_Updated']
df_api['$/Buyer_Updated'] = df_api['$/Buyer_Updated'].astype('int64')
df_api['Txn/Buyer_Updated'] = df_api['Txns_Updated'] / df_api['Buyers_Updated']
df_api['USD_Sales_Updated'] = df_api['USD_Sales_Updated'] / 1e6
df_api = df_api.rename(columns = {'USD_Sales_Updated': 'USD_Sales_in_millions_Updated'})
df_api.head()

,Rank_Updated,blockchainId,Collections,USD_Sales_in_millions_Updated,Buyers_Updated,Txns_Updated,$/Txn_Updated,$/Buyer_Updated,Txn/Buyer_Updated
0,1,ronin,Axie Infinity,4090.984209,1791631,17718939,230,2283,9.889837
1,2,ethereum,Bored Ape Yacht Club,2446.885968,12071,32743,74730,202707,2.712534
2,3,ethereum,CryptoPunks,2392.128017,6088,22292,107308,392925,3.661629
3,4,ethereum,Mutant Ape Yacht Club,1749.301674,23847,51995,33643,73355,2.180358
4,5,ethereum,Art Blocks,1311.728715,33648,185253,7080,38983,5.505617

In [37]:
# List collections to be able to compare changes
Collections_before = df['Collections'].tolist()
Collections_after = df_api['Collections'].tolist()

In [38]:
# We are going to create a list with the collections that were at the top 100 from the original dataset and see how many of them still are at the top 100. The collections that remain at the top 100 will have a @ before the name.
def Collections_sorted(collections_column):
    Comparing_Collections_before = []
    for i in range(len(Collections_before)):
        new_name = str(Collections_before[i])
        if new_name in Collections_after:
            Comparing_Collections_before.append('@' + new_name)  
        elif new_name not in Collections_after:
            Comparing_Collections_before.append(new_name) 
    return(Comparing_Collections_before)

In [39]:
df['Collections']= Collections_sorted(list(df['Collections']))
df.head()

,Rank,Collections,USD_Sales_in_millions_not_updated,Buyers_not_updated,Txns_not_updated,$/Txn_not_updated,$/Buyer_not_updated,Txn/Buyer_not_updated
0,1,@Axie Infinity,3328.148500,1079811,9755511,341,3082,9.034462
1,2,@CryptoPunks,1664.246968,4723,18961,87772,352370,4.014609
2,3,@Art Blocks,1075.223906,20934,117602,9142,51362,5.617751
3,4,@Bored Ape Yacht Club,783.882186,8284,22584,34709,94626,2.726219
4,5,@NBA Top Shot,781.965423,374818,11790699,66,2086,31.457131

In [40]:
# We do the same for the dataset extracted from the API.
def Collections_sorted_api(collections_column):
    Comparing_Collections_after = []
    for i in range(len(Collections_after)):
        new_name = str(Collections_after[i])
        if new_name in Collections_before: 
            Comparing_Collections_after.append('@' + new_name)  
        elif new_name not in Collections_before:
            Comparing_Collections_after.append(new_name)
    return(Comparing_Collections_after)

In [41]:
df_api['Collections']= Collections_sorted_api(list(df_api['Collections']))
df_api.head()

,Rank_Updated,blockchainId,Collections,USD_Sales_in_millions_Updated,Buyers_Updated,Txns_Updated,$/Txn_Updated,$/Buyer_Updated,Txn/Buyer_Updated
0,1,ronin,@Axie Infinity,4090.984209,1791631,17718939,230,2283,9.889837
1,2,ethereum,@Bored Ape Yacht Club,2446.885968,12071,32743,74730,202707,2.712534
2,3,ethereum,@CryptoPunks,2392.128017,6088,22292,107308,392925,3.661629
3,4,ethereum,@Mutant Ape Yacht Club,1749.301674,23847,51995,33643,73355,2.180358
4,5,ethereum,@Art Blocks,1311.728715,33648,185253,7080,38983,5.505617

In [42]:
# We will work only with the data from the collections that have remained in the top 100. 
NFT_collections_that_remain_in_top100 = df[df['Collections'].str.contains('@')==True]
NFT_collections_that_remain_in_top100.set_index('Collections', inplace=True)
NFT_collections_that_remain_in_top100.head()

,Rank,USD_Sales_in_millions_not_updated,Buyers_not_updated,Txns_not_updated,$/Txn_not_updated,$/Buyer_not_updated,Txn/Buyer_not_updated
Collections,,,,,,,
@Axie Infinity,1,3328.148500,1079811,9755511,341,3082,9.034462
@CryptoPunks,2,1664.246968,4723,18961,87772,352370,4.014609
@Art Blocks,3,1075.223906,20934,117602,9142,51362,5.617751
@Bored Ape Yacht Club,4,783.882186,8284,22584,34709,94626,2.726219
@NBA Top Shot,5,781.965423,374818,11790699,66,2086,31.457131

In [43]:
NFT_collections_that_remain_top100_Updated = df_api[df_api['Collections'].str.contains('@')==True]
NFT_collections_that_remain_top100_Updated.set_index('Collections', inplace=True)
NFT_collections_that_remain_top100_Updated.head()

,Rank_Updated,blockchainId,USD_Sales_in_millions_Updated,Buyers_Updated,Txns_Updated,$/Txn_Updated,$/Buyer_Updated,Txn/Buyer_Updated
Collections,,,,,,,,
@Axie Infinity,1,ronin,4090.984209,1791631,17718939,230,2283,9.889837
@Bored Ape Yacht Club,2,ethereum,2446.885968,12071,32743,74730,202707,2.712534
@CryptoPunks,3,ethereum,2392.128017,6088,22292,107308,392925,3.661629
@Mutant Ape Yacht Club,4,ethereum,1749.301674,23847,51995,33643,73355,2.180358
@Art Blocks,5,ethereum,1311.728715,33648,185253,7080,38983,5.505617

In [44]:
# We concatenate dataframes, setting Collections as the common index.
NFT_collections_csv = pd.concat([NFT_collections_that_remain_in_top100, NFT_collections_that_remain_top100_Updated], axis=1)
NFT_collections_csv.head()

,Rank,USD_Sales_in_millions_not_updated,Buyers_not_updated,Txns_not_updated,$/Txn_not_updated,$/Buyer_not_updated,Txn/Buyer_not_updated,Rank_Updated,blockchainId,USD_Sales_in_millions_Updated,Buyers_Updated,Txns_Updated,$/Txn_Updated,$/Buyer_Updated,Txn/Buyer_Updated
Collections,,,,,,,,,,,,,,,
@Axie Infinity,1,3328.148500,1079811,9755511,341,3082,9.034462,1,ronin,4090.984209,1791631,17718939,230,2283,9.889837
@CryptoPunks,2,1664.246968,4723,18961,87772,352370,4.014609,3,ethereum,2392.128017,6088,22292,107308,392925,3.661629
@Art Blocks,3,1075.223906,20934,117602,9142,51362,5.617751,5,ethereum,1311.728715,33648,185253,7080,38983,5.505617
@Bored Ape Yacht Club,4,783.882186,8284,22584,34709,94626,2.726219,2,ethereum,2446.885968,12071,32743,74730,202707,2.712534
@NBA Top Shot,5,781.965423,374818,11790699,66,2086,31.457131,7,flow,1033.386630,446665,21862169,47,2313,48.945337

In [45]:
# For convenience I decided to split the main dataframe, the first one containing the original data and the second one containing the main kpis.
# Save concatenated dataframes.
NFT_data = NFT_collections_csv[['Rank', 'Rank_Updated','blockchainId', 'USD_Sales_in_millions_not_updated', 'USD_Sales_in_millions_Updated', 'Buyers_not_updated', 'Buyers_Updated', 'Txns_not_updated', 'Txns_Updated']]
NFT_data.head()
NFT_data.to_csv('../dataset/NFT_data.csv')

In [46]:
NFT_kpis = NFT_collections_csv[['blockchainId', '$/Txn_not_updated', '$/Txn_Updated', '$/Buyer_not_updated', '$/Buyer_Updated', 'Txn/Buyer_not_updated','Txn/Buyer_Updated']]
NFT_kpis.head()

,blockchainId,$/Txn_not_updated,$/Txn_Updated,$/Buyer_not_updated,$/Buyer_Updated,Txn/Buyer_not_updated,Txn/Buyer_Updated
Collections,,,,,,,
@Axie Infinity,ronin,341,230,3082,2283,9.034462,9.889837
@CryptoPunks,ethereum,87772,107308,352370,392925,4.014609,3.661629
@Art Blocks,ethereum,9142,7080,51362,38983,5.617751,5.505617
@Bored Ape Yacht Club,ethereum,34709,74730,94626,202707,2.726219,2.712534
@NBA Top Shot,flow,66,47,2086,2313,31.457131,48.945337

In [47]:
# To further understand the kpis I decided to explore the variations from the original dataset until now. Created three more columns. 
# Example 1: A $/Txn variation greater than 1 means that more USD has been spent per transaction.
# Example 2: A $/Buyer variation greater than 1 means that more USD has been spent per buyer.
# Example 3: A Txn/Buyer variation greater than 1 means that each buyer has done more than one transaction.
NFT_kpis['$/Txn_variation'] = NFT_kpis['$/Txn_Updated'] / NFT_kpis['$/Txn_not_updated']
NFT_kpis['$/Buyer_variation'] = NFT_kpis['$/Buyer_Updated'] / NFT_kpis['$/Buyer_not_updated']
NFT_kpis['Txn/Buyer_variation'] = NFT_kpis['Txn/Buyer_Updated'] / NFT_kpis['Txn/Buyer_not_updated']
NFT_kpis.to_csv('../dataset/NFT_kpis.csv')
NFT_kpis.head()

,blockchainId,$/Txn_not_updated,$/Txn_Updated,$/Buyer_not_updated,$/Buyer_Updated,Txn/Buyer_not_updated,Txn/Buyer_Updated,$/Txn_variation,$/Buyer_variation,Txn/Buyer_variation
Collections,,,,,,,,,,
@Axie Infinity,ronin,341,230,3082,2283,9.034462,9.889837,0.674487,0.740753,1.094679
@CryptoPunks,ethereum,87772,107308,352370,392925,4.014609,3.661629,1.222577,1.115092,0.912076
@Art Blocks,ethereum,9142,7080,51362,38983,5.617751,5.505617,0.774448,0.758985,0.980039
@Bored Ape Yacht Club,ethereum,34709,74730,94626,202707,2.726219,2.712534,2.153044,2.142191,0.994980
@NBA Top Shot,flow,66,47,2086,2313,31.457131,48.945337,0.712121,1.108821,1.555938

In [48]:
# Create a new dataframe with blockchain Id and variations for convenience.
NFT_kpis_variation = NFT_kpis[['blockchainId', '$/Txn_variation', '$/Buyer_variation', 'Txn/Buyer_variation']]
NFT_kpis_variation.head()

,blockchainId,$/Txn_variation,$/Buyer_variation,Txn/Buyer_variation
Collections,,,,
@Axie Infinity,ronin,0.674487,0.740753,1.094679
@CryptoPunks,ethereum,1.222577,1.115092,0.912076
@Art Blocks,ethereum,0.774448,0.758985,0.980039
@Bored Ape Yacht Club,ethereum,2.153044,2.142191,0.994980
@NBA Top Shot,flow,0.712121,1.108821,1.555938

In [49]:
# We are going to do some calculations per variable, the results will then be added to the final dataframe that we will use to conclude.
a1 = NFT_kpis_variation['$/Txn_variation'].min()
print(a1)
a2 = NFT_kpis_variation['$/Txn_variation'].median()
print(a2)
a3 = NFT_kpis_variation['$/Txn_variation'].mean()
print(a3)
a4 = NFT_kpis_variation['$/Txn_variation'].max()
print(a4)
a5= NFT_kpis_variation['$/Txn_variation'].std()
print(a5)

0.11538461538461539
0.938092166370297
1.1138836700544108
2.552621101526211
0.485025795673958

In [50]:
b1 = NFT_kpis_variation['$/Buyer_variation'].min()
print(b1)
b2 = NFT_kpis_variation['$/Buyer_variation'].median()
print(b2)
b3 = NFT_kpis_variation['$/Buyer_variation'].mean()
print(b3)
b4 = NFT_kpis_variation['$/Buyer_variation'].max()
print(b4)
b5 = NFT_kpis_variation['$/Buyer_variation'].std()
print(b5)

0.3421699918010385
0.9915182868326075
1.1557626869657742
2.8152
0.4808588558087434

In [51]:
c1 = NFT_kpis_variation['Txn/Buyer_variation'].min()
print(c1)
c2 = NFT_kpis_variation['Txn/Buyer_variation'].median()
print(c2)
c3 = NFT_kpis_variation['Txn/Buyer_variation'].mean()
print(c3)
c4 = NFT_kpis_variation['Txn/Buyer_variation'].max()
print(c4)
c5 = NFT_kpis_variation['Txn/Buyer_variation'].std()
print(c5)

0.8681740760591143
1.0054280637746587
1.090121649030729
2.9430137905077967
0.333038623470039

In [52]:
# Create dictionary with the variables and the results.
Final_Data = {
    '$/Txn_variation' : [0.12, 0.94, 1.11, 2.55, 0.49],
    '$/Buyer_variation' : [0.34, 0.99, 1.16, 2.82, 0.48],
    'Txn/Buyer_variation' : [0.87, 1.01, 1.09, 2.94, 0.33]
}

In [53]:
# Turn dictionary to Dataframe.
df_final_data = pd.DataFrame.from_dict(Final_Data, orient='index')
df_final_data.rename({0 : 'Min', 1: 'Median', 2:'Mean',3: 'Max', 4:'Std'}, axis = 1, inplace = True) 
df_final_data

                      Min  Median  Mean   Max   Std
$/Txn_variation      0.12    0.94  1.11  2.55  0.49
$/Buyer_variation    0.34    0.99  1.16  2.82  0.48
Txn/Buyer_variation  0.87    1.01  1.09  2.94  0.33

### Cleaning Conclusion 
We can see that although the NFT market as a whole has seen sharp declines in floor prices and sales volumes within collections, the top collections, these are the ones that have managed to stay in the top 100 since November 2021 until now, have experienced: 
1. An increase in dollars spent per transaction
2. An increase in dollars spent per buyer 
3. An increase in transactions per buyer 

Shown by the mean being > 1.

Although values have a quite high standard deviation, the median suggests that ratios have remained constant, which is quite impressive taking into account market conditions. We need to consider that this sample contains mainly ethereum projects, so it may be a bit biased for the rest of blockchains.

In [54]:
df_final_data.to_csv('../dataset/final_kpis.csv')